{% load static %}

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="{% static 'images/hero-bg.jpg' %}" alt="">
      </div>
    </div>

    {% include 'header.html' %}
    <!-- end header section -->
  </div>

  <!-- team section -->

  <section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
      {% for t in team %}
      <h2>
        {{ t.title }}
      </h2>
      <p>
        {{ t.text }}
      </p>
      {% endfor %}
    </div>
      <div class="row">
      {% for g in guard %}
      <div class="col-md-4 col-sm-6 mx-auto ">
        <div class="box">
          <div class="img-box">
            <img src="{{ g.image.url }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              {{ g.name }}
            </h5>
            <h6 class="">
              {{ g.status }}
            </h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <div class="btn-box">
        <a href="">
          View All
        </a>
      </div>
    </div>
  </section>

  <!-- end team section -->

{% include 'footer.html' %}

</body>

