<!DOCTYPE html>
<html>
{% load static %}
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

  <title>Guarder</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>
<header class="header_section">
    <div class="header_top">
    <div class="container-fluid">
        <div class="contact_link-container">
            {% for c in contactus %}
                {% if forloop.counter == 1 %}
                    <a href="" class="contact_link1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>{{ c.title }}</span>
                    </a>
                {% elif forloop.counter == 2 %}
                    <a href="" class="contact_link2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>{{ c.title }}</span>
                    </a>
                {% elif forloop.counter == 3 %}
                    <a href="" class="contact_link3">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>{{ c.title }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            {% for head in header %}
            <span>
              {{ head.logo }}
            </span>
            {% endfor %}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
                {% for m in menu %}
              <li class="nav-item {% if current_url == m.url %}active{% endif %}">
                <a class="nav-link" href="{{ m.url }}">{{ m.menu }} <span class="sr-only">(current)</span></a>
              </li>
                {% endfor %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</html>