{% load static %}

<body>
  <div class="hero_area">
  <!-- header section strats -->
  <div class="hero_bg_box">
    <div class="img-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>
  </div>

  {% include 'header.html' %}
  <!-- end header section -->


  <!-- slider section -->
  <section class=" slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for s in slider %}
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    {{ s.title }} <br>
                    <span>
                      {{ s.title_continue }}
                    </span>
                  </h1>
                  <p>
                    {{ s.text }}
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1"> {{ s.last }} </a>
                    <a href="" class="btn-2">Get A Quote</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="container idicator_container">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>
  <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
  <div class="container">
    {% for a in about %}
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="{{ a.image.url }}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container ">
            <h2>
              {{ a.title }}
            </h2>
          </div>
          <p>
            {{ a.text }}
          </p>
          <div class="btn-box">
            <a href="">
              {{ a.last }}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </section>

  <!-- end about section -->

  <!-- service section -->

  <section class="service_section layout_padding">
  <div class="container">
    {% for sh in serviceh %}
    <div class="heading_container heading_center">
      <h2>
        {{ sh.title }}
      </h2>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-4">
        <div class="box ">
          <div class="img-box">
            <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
              <g>
                <g>
                  <circle cx="256" cy="125" r="15" />
                  <path d="m356 262c-18.955 0-35.996-10.532-44.472-27.484l-2.111-4.223c-2.541-5.083-7.735-8.293-13.417-8.293h-80c-5.682 0-10.876 3.21-13.417 8.292l-2.111 4.222c-8.476 16.954-25.517 27.486-44.472 27.486-8.284 0-15 6.716-15 15v85.597c0 33.654 10.619 65.715 30.708 92.716 20.089 27 47.747 46.384 79.982 56.054 1.406.422 2.858.633 4.31.633s2.904-.211 4.31-.633c32.235-9.67 59.893-29.054 79.982-56.054 20.089-27.001 30.708-59.062 30.708-92.716v-85.597c0-8.284-6.716-15-15-15zm-46.967 87.322-56.568 56.568c-2.929 2.929-6.768 4.394-10.606 4.394s-7.678-1.464-10.606-4.394l-28.284-28.284c-5.858-5.858-5.858-15.355 0-21.213 5.857-5.858 15.355-5.858 21.213 0l17.678 17.677 45.962-45.961c5.857-5.858 15.355-5.858 21.213 0 5.856 5.858 5.856 15.355-.002 21.213z" />
                  <g>
                    <path d="m485.371 179.287-220-176c-5.479-4.383-13.263-4.383-18.741 0l-220 176c-6.469 5.175-7.518 14.614-2.342 21.083 5.175 6.468 14.614 7.517 21.083 2.342l30.629-24.503v232.791c0 8.284 6.716 15 15 15h31.119c-7.333-20.12-11.119-41.476-11.119-63.403v-85.597c0-24.813 20.187-45 45-45 7.632 0 14.226-4.075 17.639-10.901l2.112-4.224c7.67-15.342 23.093-24.875 40.249-24.875h80c17.156 0 32.579 9.533 40.25 24.878l2.111 4.223c3.412 6.824 10.007 10.899 17.639 10.899 24.813 0 45 20.187 45 45v85.597c0 21.927-3.786 43.283-11.119 63.403h31.119c8.284 0 15-6.716 15-15v-232.791l30.629 24.503c2.766 2.213 6.075 3.288 9.361 3.288 4.4 0 8.76-1.927 11.722-5.63 5.176-6.469 4.127-15.908-2.341-21.083zm-229.371-9.287c-24.813 0-45-20.187-45-45s20.187-45 45-45 45 20.187 45 45-20.187 45-45 45z" />
                  </g>
                </g>
                <g>
                  <path d="m156 15c0-8.284-6.716-15-15-15h-30c-8.284 0-15 6.716-15 15v70.372l60-48z" />
                </g>
              </g>
            </svg>
          </div>
          <div class="detail-box">
            {% for s in service %}
            <h6>
              {{ s.title }}
            </h6>
            <p>
              {{ s.text }}
            </p>
            <a href="">
              {{ s.last }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- end service section -->


  <!-- client section -->

  <section class="client_section layout_padding">
  <div class="container ">
    <div class="heading_container heading_center">
      <h2>
        What is says our clients
      </h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="box">
            <div class="img-box">
              {% for c in client %}
              <img src="{{ c.image.url }}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                {{ c.name }}
              </h4>
              <p>
                {{ c.text }}
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
  <div class="contact_bg_box">
    {% for t in touch %}
    <div class="img-box">
      <img src="{{ t.image.url }}" alt="">
    </div>
    {% endfor %}
  </div>
  <div class="container">
    <div class="heading_container heading_center">
      {% for t in touch %}
      <h2>
        {{ t.title }}
      </h2>
      {% endfor %}
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <form id="contact" action="/contact/" method="post">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                  <input name="name" type="text" id="name" placeholder="Full Name" />
                </div>
                <div>
                  <input name="email" type="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="EMAIL...*" required="">
                </div>
                <div>
                  <input name="iphone" type="text" id="phone" placeholder="PHONE NUMBER" required="">
                </div>
                <div class="">
                  <input name="message" type="text" id="message" placeholder="Message" class="message_input" />
                </div>
                <div class="btn-box ">
                  <button type="submit" id="form-submit" class="button">SEND</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- end contact section -->

  <!-- team section -->

  <section class="team_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      {% for t in team %}
      <h2>
        {{ t.title }}
      </h2>
      <p>
        {{ t.text }}
      </p>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 mx-auto ">
        {% for g in guard %}
        <div class="box">
          <div class="img-box">
            <img src="{{ g.image.url }}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              {{ g.name }}
            </h5>
            <h6 class="">
              {{ g.status }}
            </h6>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="btn-box">
      {% for t in touch %}
      <a href="">
        View All
      </a>
      {% endfor %}
    </div>
  </div>
  </section>

  <!-- end team section -->

{% include 'footer.html' %}
</body>


