{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">Delete Client</h3>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Are you sure you want to delete Client ID: {{ client.id }}?</h5>
        <div class="d-flex justify-content-between">
            <form method="POST" action="{% url 'client_delete' header.id %}" class="ajax-form d-flex justify-content-between">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            <a href="{% url 'client_list' %}" class="btn btn-light btn-sm text-dark">
                <i class="fas fa-arrow-left"></i> Cancel
            </a>
        </div>
    </div>
</div>
{% endblock %}
