{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">Delete Service Header</h3>
    </div>
    <div class="card-body">
        <h5 class="text-danger">Are you sure you want to delete Service Header ID: {{ service_header.id }}?</h5>
        <div class="mt-5">
            <form method="POST" action="{% url 'admin:service_header_delete' service_header.id %}" class="ajax-form d-flex justify-content-between" data-redirect="{% url 'admin:service_header_list' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Yes, Delete
                </button>
                <a href="{% url 'admin:service_header_list' %}" class="btn btn-light btn-sm text-dark font-weight-bold">
                    <i class="fas fa-arrow-left"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
