{% load static %}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" class="img-circle elevation-2" alt="User Avatar">
            {% else %}
                <img src="{% static 'admin/dist/img/avatar.png' %}" class="img-circle elevation-2" alt="Default Avatar">
            {% endif %}
        </div>
        <div class="info">
            <a href="{% url 'admin:admin_profile' %}" class="d-block user-profile-link">
                <span class="user-name">{{ request.user.username|default:request.user.email }}</span>
            </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <!--<li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            </ul>
          </li>-->
          <li class="nav-item">
            <li class="nav-item menu-open">
            <a href="#" class="nav-link">
              <i class="far fa-dot-circle nav-icon"></i>
              <p>
                DataTables
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
              <ul class="nav nav-treeview">
                  {% if request.user.is_superuser %}
                  <li class="nav-item">
                    <a href="{% url 'admin:admin_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Admin</p>
                    </a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a href="{% url 'admin:user_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Users</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:user_contact_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>User Contact</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:header_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Header</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:menu_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Menu</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:slider_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Slider</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:about_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>About</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:service_header_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>ServiceHeader</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:service_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Service</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:client_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Client</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:touch_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Touch</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:team_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Team</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:guard_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Guard</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:info_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Info</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:contactus_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Contact Us</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:subscribe_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Subscribe</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'admin:footer_list' %}" class="nav-link ajax-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>Footer</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

