{% extends 'admin/index.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-light text-dark">
        <h3 class="card-title m-0">Update User Contact</h3>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'user_contact_update' user_contact.id %}" enctype="multipart/form-data" class="ajax-form" data-redirect="{% url 'user_contact_list' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_name" class="form-label">Name</label>
                <input type="text" name="name" value="{{ form.name.value|default:'' }}" class="form-control" id="id_name">
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" name="email" value="{{ form.email.value|default:'' }}" class="form-control" id="id_email">
            </div>
            <div class="mb-3">
                <label for="id_phone" class="form-label">Phone</label>
                <input type="text" name="phone" value="{{ form.phone.value|default:'' }}" class="form-control" id="id_phone">
            </div>
            <div class="mb-3">
                <label for="id_message" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="id_message">{{ form.message.value|default:'' }}</textarea>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-save"></i> Submit
                </button>
                <a href="{% url 'user_contact_list' %}" class="btn btn-light btn-sm text-dark font-weight-bold">
                    <i class="fas fa-arrow-left"></i> Back
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
